<div class="copyright">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
   | 
  Page Maintainer: <a href="mailto://lurongkai@gmail.com" target="_blank">Lu Rongkai</a>@<a href="http://github.com/lurongkai" target="_blank">GitHub</a>
</div>
<div class="clearfix"></div>